<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Blender</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            margin-top: 50px;
        }

        p {
            margin-top: 20px;
        }

        a {
            font-size: 18px;
            text-decoration: none;
            color: #007BFF;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать в Image Blender!</h1>
    <p><a href="{{ url_for('blend') }}">Сгенерировать смешанные изображения</a></p>
</body>
</html>
